@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: calc(1.25rem * 3 + 4rem);
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'Ultra';
    color: #200e8a;
    letter-spacing: 5px;
    font-weight: 100;
}

body {
    background-image: url('../imagens/fundo-do-mar.png');
    background-size: contain;
}

main>div {
    width: fit-content;
    margin: 6rem auto 0;
}

main ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    gap: 150px;
}

li:has(.card-animal) {
    width: 20vw;
    height: 20vw;
    background: linear-gradient(180deg, #1677b8, #0f4d88);
    border-radius: 5%;
    box-shadow: 0 0 30px rgba(2, 41, 54, 0.726);
}

.card-animal {
    display: grid;
    grid-template-columns: 30% 1fr;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    row-gap: 20px;
}

.card-animal img {
    width: 100%;
    border-radius: 50%;
    grid-column: 1 / 2;
    border:3px solid #c9b37d;
}

.card-animal h2 {
    font-family: 'Signika';
    font-weight: 500;
    grid-column: 2 / 3;
    font-size: 1.75rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
}

.card-animal p {
    grid-column: 1 / 3;
    font-size: 1.25rem;
    font-family: 'Cormorant Garamond';
    font-weight: 500;
}